@layer vuetify-overrides {
  code,
  pre,
  .v-code {
    font-family: var(--font-mono);
  }

  .v-btn,
  .v-field,
  .v-list,
  .v-menu > .v-overlay__content {
    border-radius: var(--radius-lg);
  }

  .v-list {
    padding: 8px;

    .v-list-item {
      border-radius: var(--radius-md);
    }
  }

  .v-input.no-details .v-input__details {
    display: none;
  }
}
